@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

body {
  background-color: #8d99ae;
}

#menu {
  width: 100%;
  height: 2.5em;
  display: flex;
  align-items: center;
  
  justify-content: center;
  color: #fff;
  font-size: 1.3em;
}

.menu {
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  color: #fff;
}

#faixa {
  width: 100%;
  height: 12em;
  background-color: #3e3f4e;
}

#logo {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  margin-right: 4em;
}

#sos {
  font-size: 8em;
  color: #d02f4a;
  text-decoration: none;
}

#slogan {
  font-size: 1.2em;
  color: #fff;
}

#conteudo {
  display: flex;
  flex-direction: row;
  min-height: 30rem;
  height: 100%;

  max-height: 40rem;
  margin: 0rem 3rem 3rem 3rem;
}

section {
  background-color: #758093;
  width: 45%;
}

section header {
  flex-direction: column;
  width: 100%;
  height: 3rem;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0px auto;

  color: #d02f4a;
}

section form {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

section form label {
  color: #fff;
  margin: 0.5rem;
  font-size: 1.1rem;
}

section form input {
  background-color: #818ca0;
  height: 2.5rem;
  border-radius: 0.2rem;
  border: 0;

  color: #fff;
  font-size: 1.2rem;
}

section form input::placeholder {
  color: #fff;
}

section form button {
  margin-top: 3rem;
  height: 2.5rem;
  border: 0;
  cursor: pointer;
  
  color:#d02f4a;
  font-weight: 600;
  font-size: 1.2rem;
}

section footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
section footer span {
  padding-right: 2rem;
  color: #d02f4a;
  font-size: 1.2rem;
  cursor: pointer;
}

input {
  outline: none;
  -webkit-appearance: none;
}
